# Basic Python Workshop - Scripting
In this workshop we will go over some basic scripting.

For this session we will only import native python packages and do not require interfacing with our custom software. We will work with numpy for numerical analysis, pandas for its convenient data table manipulations, and plotnine for plotting purposes.

# Package import
Import the same packages as in the introductory notebook:

* `numpy`
* `pandas`

In [1]:
import numpy as np
import pandas as pd
from plotnine import *

# Conditional Statements
The conditional statements follow the general conventions of most languages. One thing to note about conditionals is that there are constraints on comparing different object types. For example, you cannot compare a list to another object with conditionals. But you can compare a `numpy array` to an integer or float (this compares every element in the array).

## Most common conditionals

* equal: `a == b`
* not equal: `a != b`
* less than: `a < b`
* less than or equal: `a <= b`
* greater than: `a > b`
* greater than or equal: `a >= b`

## The `is` conditional
There is another conditional that you may not commonly see in another language, which is `is`. This conditional checks that the objects that are being referenced are the same, or share the same identity. Essentially it means that they have the same `id`. This is different from the `==` sign because the `==` sign actually checks if the objects are equal, and not just referencing the same object.

## The `in` conditional
Another useful conditional is the `in` keyword. This checks if a certain item is in an iterable (a list, array, or string)

## First Task

* Assign a list, `L1`, with elements `[1,2,3]`
* Define a numpy array, `A1` with elements `[1, 2, 3]`
* Create a new list `L2` with elements `[1.0, 2.0, 3.0]`
* Create a third list `L3` by setting it equal to `L1`
* Use `==` to check if `L1` is the same as `L2` and `L3`
* Use `is` to check if `L1` is the same as `L2` and `L3`
* Use == to check if `L1` is the same as `A1` - note the new behavior here
* Use `<` to determine which elements of `L1` and `A1` are less than 2 - note the new behavior here
* Use `in` to determine if the number 3 is in A1
* Use `in` to determine if the substring `central` is in the string `'concentration_cental_ng_per_mL'` (copy and paste to ensure you're using exactly the same strings
* Use `in` to determine if the item `'concentration_central_ng_per_mL'` is in the list `['concentration_peripheral_ng_per_mL', 'concentration_central_ng_per_L', 'concentration_central_ng_per_mL', 'RO_central', 'RO_peripheral"']` (copy and paste the list to ensure youre using the exact same list)

In [2]:
L1 = [1,2,3]
A1 = np.array([1,2,3])
L2 = [1.0,2.0,3.0]
L3 = L1

In [3]:
print('L1 == L2?')
print(L1 == L2)
print('\nL1 == L3?')
print(L1 == L3)

L1 == L2?
True

L1 == L3?
True

In [4]:
print('L1 is L2?')
print(L1 is L2)
print('\nL1 is L3?')
print(L1 is L3)

L1 is L2?
False

L1 is L3?
True

In [5]:
print('L1 == A1?')
print(L1 == A1)

L1 == A1?
[ True  True  True]

In [6]:
print('A1 < 2?')
print(A1 < 2)

A1 < 2?
[ True False False]

In [7]:
print('3 in A1?')
print(3 in A1)

3 in A1?
True

In [8]:
print('"central" in "concentration_cental_ng_per_mL"?')
print('central' in 'concentration_cental_ng_per_mL')

"central" in "concentration_cental_ng_per_mL"?
False

In [9]:
print("'concentration_central_ng_per_mL' in ['concentration_peripheral_ng_per_mL', 'concentration_central_ng_per_L',\
                                            'concentration_central_ng_per_mL', 'RO_central', 'RO_peripheral']?")
print('concentration_central_ng_per_mL' in ['concentration_peripheral_ng_per_mL', 'concentration_central_ng_per_L',
                                            'concentration_central_ng_per_mL', 'RO_central', 'RO_peripheral'])

'concentration_central_ng_per_mL' in ['concentration_peripheral_ng_per_mL', 'concentration_central_ng_per_L',                                            'concentration_central_ng_per_mL', 'RO_central', 'RO_peripheral']?
True

# Boolean Logic
For python instead of symbols such as `&` for "and" ,`|` for "or, or `!` for "not", the word is just used instead. So if you wanted to check if two conditions were true, you would just use `condition1 and condition2`.

## Second Task
* Define a = 1
* Define b = 2
1. Write a boolean conditional statement that checks if both these statements are true (a == 1, b == 3)
2. Write a boolean conditional statement that checks if at least one of these statements are true (a == 1, b == 3)
3. Write a boolean conditional statement that checks if only the first of these statements are true (a == 1, b == 3)
4. Write a boolean conditional statement that checks if only the second of these statements are true (a == 1, b == 3)
5. Write a boolean conditional statement that checks if only one (but either) of these statements are true (a == 1, b == 3)

In [10]:
#define variables
a = 1
b = 2

In [11]:
#1
a == 1 and b == 3

False

In [12]:
#2
a == 1 or b == 3

True

In [13]:
#3
a == 1 and not b == 3

True

In [14]:
#4
not a == 1 and b == 3

False

In [15]:
#5
(a == 1 and not b == 3) or (not a == 1 and b == 3)

True

# Iterating
Iterating is a tool used to perform a task multiple times based on some method of counting. For example you may say that for every element in some list, perform a function on that element.

The basic set up while iterating looks something like so:

```
set up condition:
    task to perform
```

Note the colon at the end of the set up line

## Nesting

Python is unique in that indentation is used to nest code instead of brackets or keywords such as end. This was done in order to promote clear and understandable code. Whenever you need to nest a new block of code, it gets indented further to the right. One issue that this causes is the beginner's mistake, `IndentationError`, where the code looks like it is indented properly, but it isn't. This usually occurs because spaces and tabs were mixed together.

We use nesting to differentiate between the set up of a iterated loop and the function performed in that loop. We also use nesting to differentiate between the set up of a function and the action performed in that function (we'll get to that later).

## `for` loops
The `for` loop in python works similarly to a `for` or `foreach` loop in other languages. The basic syntax is for `i in iterable:`, an iterable can be anything with the `__getitem__` method, but for our purposes it will most often be a `list`, `dictionary`, `tuple` or `set` works. The loops will run for each item in the iterable. If you want to only run a subset of the iterable, you can slice it or use list comprehension (which we'll get to later).

When iterating over a dictionary, you would typically want to iterate over the keys which you can do by simply calling the dictionary in the loop or using `dictionary.keys()` in the loop. If you want to iterate over the values, you must use `dictionary.values()` in the loop.

## range
If you would like to quickly create an iterable of an incrementing integer list, you can use the range function. `range(n)` quickly creates a list from 0 to n-1, which is n times. Range can also define a start value and the step value if you need.

## Third task
* create a list `A = [1, 2, 3, 4]`
* use a for loop to create a new list `B` where the elements of `B` are the elements of `A` squared
    * Note: in python to take a number to a power you must use `**` instead of `^`
    * Hint 1: you can use the `.append()` method mentioned briefly in the Intro notebook
    * Hint 2: you can create an empty list
    * Hint 3: you can determine the length of a list by using `len(list)`

In [16]:
#Method 1
A = [1,2,3,4]
B = []
for i in A:
    B.append(i**2)

print(B)

#Method 2
A = [1,2,3,4]
B = A.copy()
for i in A:
    B[A.index(i)] = i**2

print(B)

#Method 3
A = [1,2,3,4]
B = A.copy()
for i in range(len(A)):
    B[i] = A[i]**2

print(B)

#Method 4 - using numpy
A = [1,2,3,4]
B = list(np.array(A)**2)
print(B)

[1, 4, 9, 16]
[1, 4, 9, 16]
[1, 4, 9, 16]
[1, 4, 9, 16]

## While loops
`While` loops work much like you would see in another language. They follow the syntax of `while (condition is True):`.

It is *very* easy to create a `while` loop that never ends. For that reason it is recommended that you try to combine `for` loops with `if` loops if you need conditional statements in your loop.

## Fourth task
* Create a while loop that counts up (and prints) from 1 to 5
    * Note, if you created a loop that won't end, hit the stop button on the top of this window

In [17]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

# `if`, `elif`, and `else`

`If` statements are used to run code if a given condition holds true. They are simple to create, the syntax is `if condition:`.

`elif` are the same as `if` statements, but they only run if the previous `if` or `elif` statements have not run. The syntax is `elif condition:`. `elif` blocks run in order, so if you have several `elif` conditions are true, only the first one that is true will be run.

Finally, there are `else` statements, which are run if none of the previous `if` or `elif` statements are run. No condition is needed for an `else` statement.

## Fifth Task
* Combine for loops and if statements to write a block of code that counts from 1 to 5. If the number is 4, print out the statement `'This is 4'` if the number is less than 4 but greater than 1, print out `'Less than 4, greater than 1'` , otherwise print `'neither condition holds'`
* Do the same task, save the outputs as a list
* Do the same task but create a dictionary with the numbers 1-5 as the keys and the appropriate outputs as values
* Do the same task but create a dataframe with the numbers 1-5 as the entries in one column and the appropriate outputs as entries in anotehr

In [18]:
for i in range(1,6):
    if i == 4:
        print('This is 4')
    elif i < 4 and i > 1:
        print('Less than 4, greater than 1')
    else:
        print('neither condition holds')

neither condition holds
Less than 4, greater than 1
Less than 4, greater than 1
This is 4
neither condition holds

In [19]:
Answer = []

for i in range(1,6):
    if i == 4:
        Answer.append('This is 4')
    elif i < 4 and i > 1:
        Answer.append('Less than 4, greater than 1')
    else:
        Answer.append('neither condition holds')

print(Answer)

['neither condition holds', 'Less than 4, greater than 1', 'Less than 4, greater than 1', 'This is 4', 'neither condition holds']

In [20]:
Answer = {}

for i in range(1,6):
    if i == 4:
        Answer[i] = 'This is 4'
    elif i < 4 and i > 1:
        Answer[i] = 'Less than 4, greater than 1'
    else:
        Answer[i] = 'neither condition holds'

print(Answer)

{1: 'neither condition holds', 2: 'Less than 4, greater than 1', 3: 'Less than 4, greater than 1', 4: 'This is 4', 5: 'neither condition holds'}

In [21]:
val_list = []
ans_list = []

for i in range(1,6):
    if i == 4:
        ans_list.append('This is 4')
        val_list.append(i)
    elif i < 4 and i > 1:
        ans_list.append('Less than 4, greater than 1')
        val_list.append(i)
    else:
        ans_list.append('neither condition holds')
        val_list.append(i)

Answer = pd.DataFrame({'value':val_list,
                       'output':ans_list})

display(Answer)

   value                       output
0      1      neither condition holds
1      2  Less than 4, greater than 1
2      3  Less than 4, greater than 1
3      4                    This is 4
4      5      neither condition holds

# Function Definition
Defining a function is useful when you want to perform the same action for several different inputs. The basic syntax of function definition is:

```
def function(required input, optional input = default value):
    f = calculation
    return f
```

There are two main types of inputs you can have in your function. These are required or optional.
- Required inputs do NOT have a default value.
- Optional inputs start with a default value in the functional definition. If no value is included, then the default is used.

The `return` line of the function is crucial for an output. If you do not include the `return` line, your function will run the calculation defined, but will return an output of `None` instead of the calculated value

## Sixth Task
* Define a function $f(x, a, b, c) = a \cdot x^c + b$
    * Remember, to take an exponent you must use `**`, not `^`
* Define the same function with default parameters `a = 1`, `b = 0`, `c = 2`
* Use either function and what we have used previously to create a table with the following 3 columns for 1<x<5 and two sets of parameter values of your choice:
  
$$\begin{array}{|c|c|c|}
\hline \text{\textbf{x}} & \text{\textbf{[a,b,c]}} & \text{\textbf{f(x,a,b,c)}}\\ \hline
\cdots & \cdots & \cdots \\ \hline
\end{array}$$

    * Hint: you can use `pd.concat([DataFrame1, DataFrame2])` to stack two data frames

In [22]:
def f1(x,a,b,c):
    f = a*x**c + b
    return f

In [23]:
def f2(x,a=1,b=0,c=2):
    f = a*x**c + b
    return f

In [24]:
df = pd.DataFrame({})
list_params = [[1,2,1],[1,0,2]]

for p in list_params:
    in_list = []
    par_list = []
    fun_list = []
    for i in range(1,6):
        in_list.append(i)
        par_list.append(p)
        fun_list.append(f1(i,a = p[0], b = p[1], c = p[2]))
    df = pd.concat([df,pd.DataFrame({'x':in_list,'[a,b,c]':par_list,'f(x,a,b,c)':fun_list})])
    
display(df)

   x    [a,b,c]  f(x,a,b,c)
0  1  [1, 2, 1]           3
1  2  [1, 2, 1]           4
2  3  [1, 2, 1]           5
3  4  [1, 2, 1]           6
4  5  [1, 2, 1]           7
0  1  [1, 0, 2]           1
1  2  [1, 0, 2]           4
2  3  [1, 0, 2]           9
3  4  [1, 0, 2]          16
4  5  [1, 0, 2]          25