# Macro-constant reactions
For more information about macro-constant reaction limitations, units, etc., please refer to the
[documentation](https://docs.google.com/document/d/17uxc-MgZmzH1F04cxbaseUjk8yRuid9jJ3Xs_2wGlYQ/edit#heading=h.kijo3pja1l08). Note that the unit will be dependent on the model's time, volumes, and states units.

In [2]:
import abm
output_times = [0, 1, 2]

## Transport

In [3]:
simulatable = abm.simulate(models="model_macroconstant_transport.model", times=output_times).to_pandas()
simulatable

'Total: 1, Running: 0, Succeeded: 1, Failed: 0, Stopped: 0'

Simulations finished

   id    t  pdist  tdist   b0         a         b
0   0  0.0    0.5    0.2  2.0  1.000000  2.000000
1   0  1.0    0.5    0.2  2.0  2.453124  0.546876
2   0  2.0    0.5    0.2  2.0  2.498533  0.501467

## Half-life

In [4]:
simulatable = abm.simulate(models="model_macroconstant_half_life.model", times=output_times).to_pandas()
simulatable

'Total: 1, Running: 0, Succeeded: 1, Failed: 0, Stopped: 0'

Simulations finished

   id    t  thalf   b0         a         b
0   0  0.0    0.5  2.0  1.000000  2.000000
1   0  1.0    0.5  2.0  0.249999  2.750001
2   0  2.0    0.5  2.0  0.062501  2.937499

## Binding

In [5]:
simulatable = abm.simulate(models="model_macroconstant_binding.model", times=output_times).to_pandas()
simulatable

'Total: 1, Running: 0, Succeeded: 1, Failed: 0, Stopped: 0'

Simulations finished

,id,t,kon,koff,kd,b0,a,b,c,d,e,f
0,0,0.0,0.5,0.2,0.4,2.0,1.000000,2.000000,0.000000,1.000000,2.000000,0.000000
1,0,1.0,0.5,0.2,0.4,2.0,0.841788,1.841788,0.158212,0.841788,1.841788,0.158212
2,0,2.0,0.5,0.2,0.4,2.0,0.742936,1.742936,0.257064,0.742936,1.742936,0.257064

## Emax

In [6]:
simulatable = abm.simulate(models="model_macroconstant_emax.model", times=output_times).to_pandas()
simulatable

'Total: 1, Running: 0, Succeeded: 1, Failed: 0, Stopped: 0'

Simulations finished

   id    t  emin   emax  ec50   b0    n        a        b
0   0  0.0   0.0  0.001   5.0  1.0  2.0  1.00000  1.00000
1   0  1.0   0.0  0.001   5.0  1.0  2.0  0.99999  1.00001
2   0  2.0   0.0  0.001   5.0  1.0  2.0  0.99998  1.00002

## Michaelis Menten

In [7]:
simulatable = abm.simulate(models="model_macroconstant_michaelis_menten.model", times=output_times).to_pandas()
simulatable

'Total: 1, Running: 0, Succeeded: 1, Failed: 0, Stopped: 0'

Simulations finished

   id    t   km  kcat    e   b0         a         b
0   0  0.0  0.2   0.5  1.0  1.0  1.000000  1.000000
1   0  1.0  0.2   0.5  1.0  1.0  0.663872  1.336128
2   0  2.0  0.2   0.5  1.0  1.0  0.383435  1.616565